@import "reset.scss";

* {
	box-sizing: border-box;
	font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', sans-serif;
	font-stretch: ultra-condensed;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-auto-flow: row;
	justify-items: center;
	gap: 50px;
}

.randomPokemons {
	background-color: lightblue;
}

.evolvedPokemons {
	background-color: lightpink;
}

.pokemon__card {
	background-color: transparent;
	width: 310px;
	height: 480px;
	perspective: 1000px;
}

.pokemon__card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.pokemon__card.is-hidden .pokemon__card-inner {
	transform: rotateY(180deg);
}

.pokemon__background, .pokemon__back {
	position: absolute;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.pokemon__back {
	transform: rotateY(180deg);
}

.pokemon__background {
	margin: 0px;
	padding: 5px 10px 5px 10px;
	border: 10px solid gold;
	border-radius: 20px;
	
	&--blue {
		background: linear-gradient(to bottom right, #d9e4ec,#adc1d1,#7d99af,#557792,#7d99af,#adc1d1);
	}
	
	&--yellow {
		background: linear-gradient(to bottom right, #ffffa4,#fff870,#fff200,#fff870,#ffffa4,#fff870);
	}
	
	&--redorange {
		background: linear-gradient(to bottom right, #ffbfba,#ff978f,#ff756b,#ff594c,#ff756b,#ff978f);
	}
	
	&--green {
		background: linear-gradient(to bottom right, #aae5b7,#78cf8b,#4fb665,#319d49,#4fb665,#78cf8b);
	}
	
	&--purple {
		background: linear-gradient(to bottom right, #9b59b6, #8e44ad, #6c3483, #5b2c6f, #6c3483, #8e44ad);
	}
	
	&--lightgreen {
		background: linear-gradient(to bottom right, #c7e6b4, #7cbf44, #68a82b, #568d24, #68a82b, #7cbf44);
	}
	
	&--grey {
		background: linear-gradient(to bottom right, #e1e2e1, #c2c3c2, #b0b1b0, #a3a4a3, #b0b1b0, #c2c3c2);
	}
	
	&--pink {
		background: linear-gradient(to bottom right, #f8c9d4, #f4a8c6, #f27c9c, #f06292, #f27c9c, #f4a8c6);
	}
	
	&--brown {
		background: linear-gradient(to bottom right, #e74c3c, #c0392b, #a93226, #922b21, #a93226, #c0392b);
	}
	
	&--darkpurple {
		background: linear-gradient(to bottom right, #7b2e8c, #6a1e78, #5e2a7f, #4a1e5c, #5e2a7f, #6a1e78);
	}
	
	&--lightbrown {
		background: linear-gradient(to bottom right, #c2b280, #a68c44, #8b6e33, #7b4f28, #8b6e33, #a68c44);
	}
	
	&--lightpurple {
		background: linear-gradient(to bottom right, #f5b1d1, #d78bb7, #b561d1, #8e44ad, #b561d1, #d78bb7);
	}
}

.pokemon__info {
	height: 210px;
	border-radius: 5px;
	border-opacity: 50%;
}

.pokemon__header, .pokemon__stats, .pokemon__costs {
	//width: 310px;
	width: 100%;
	vertical-align: center;
}

td.basic {
	font-size: 9px;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
}

.pokemon__name {
	font-weight: 700;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

.pokemon__hp {
	color: crimson;
	font-size: 18px;
	text-align: right;
	font-weight: 600;
}

.pokemon__typesign {
	font-size: 20px;
	text-align: center;
	width: 20px;
}

.pokemon__image {
	padding: 0px;
	margin: 0px 0px 5px 0px;
	border: 5px yellow outset;
	box-shadow: 3px 3px 10px #000;
	width: 100%;
	height: 190px;
}

.pokemon__description {
	width: 100%;
	padding: 2px 2px 2px 2px;
	background: linear-gradient(to right, goldenrod,yellow,goldenrod);
	font-size: 10px;
	font-style: italic;
	font-weight: 600;
	text-align: center;
}

.pokemon__energy {
	width: 50px;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	text-align: center;
}

.pokemon__attack_description {
	margin: 5px;
	padding: 5px;
}

td.pokemon__attack_description--center {
	text-align: center;
	margin: 5px;
	padding: 5px;
}

span.label {
	font-weight: 700;
	font-size: 14px;
}

span.labeltext {
	font-weight: 400;
	font-size: 12px;
}

.pokemon__damage {
	font-weight: 400;
	font-size: 20px;
	width: 25px;
	text-align: center;
}

.pokemon__stats {
	border-bottom: 1.5px solid black;
}

.pokemon__costs {
	font-size: 10px;
	text-align: center;
}

.pokemon__cost_headers {
	font-weight: 900;
}

.pokemon__cost_icons {
	font-size: 18px;
	vertical-align: center;
	align: center;
}

ul, li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

li.italicize {
	font-style: italic;
	font-weight: 600;
	font-size: 10px;
	border: 1px ridge gold;
	border-radius: 2px;
	margin: 5px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	width: 100%;
}

li.pokemon__copyrights {
	font-size: 7.2px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

span.medium {
	font-weight: 500;
}

span.strong {
	font-weight: 700;
}